name: Reusable Workflow

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
        description: "The name of the user to greet"

jobs:
  reusable_job:
    runs-on: ubuntu-latest
    steps:
      - name: Greet User
        run: echo "Hello, ${{ inputs.username }}! This logic comes from a reusable workflow."
